@import "react-alice-carousel/lib/scss/alice-carousel.scss";

html {
  scroll-behavior: smooth;
}

body{
    background-color: #171616;
    font-family: 'Open Sans';
    width: 100%;
}

.cubeAnimatedAlpha {
  animation-delay: 2s;
      left: 20vw;
      top: 95vh;
      border-color: lighten(#AD37A9, 5%);
      background-color: lighten(#AD37A9, 5%);
}

.cubeAnimatedBeta {
  animation-delay: 4s;
  left: 35vw;
  top: 40vh;
  border-color: lighten(#C32988, 5%);
  background-color: lighten(#C32988, 5%);
  animation: cube 8s ease-in forwards infinite;
}

.cubeAnimatedGamma {
  animation-delay: 6s;
      left: 70vw;
      top: 120vh;
      border-color: lighten(#CC4799, 5%);
      background-color: lighten(#CC4799, 5%);
      animation: cube 10s ease-in forwards infinite;
}

.cubeAnimatedDelta {
  animation-delay: 4.5s;
      left: 70vw;
      top: 120vh;
      border-color: lighten(#68267d, 5%);
      background-color: lighten(#68267d, 5%);
      animation: cube 10s ease-in forwards infinite;
}


.cubeAnimatedLogo {
  animation-delay: 8s;
      width: 20px;
      height: 20px;
      left: 80vw;
      top: 45vh;
      border: solid 0px darken(#AD37A9, 8%);
      background: url('/assets/logo_ginevar_rotate.png');
      background-position: center;
      background-size: 100% auto;
      animation: cube 7s ease-in forwards infinite;
}

.cubeAnimated {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);   
      opacity: 0.7;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%); 
      opacity: 0;
    }
  }

  .bigProjPrevItemContainer {
    height: 300px;
    width: 100%;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;


  .bigProjPrevItem {
    height: 90%;
    width: 100%;
    position: relative;
    background-color: rgba(30, 29, 29, 0.635);
    font-family: 'Open Sans';
    padding: 10px 20px;
    overflow: hidden;

    .pPIvistitle {
      font-size: 1.2em;
    }

    .pPIvisdesc {
      font-size: 1em;
      opacity: 0.4;
      max-width: 60%;
    }

    .pPIhidden {
      transition: 0.8s all ease-out;

      p {
        margin: 20px 0px;
      }
    }

    .pPIimage {
      position: absolute;
      width: 200px;
      top: 5%;
      right: 0px;
      transition: 0.5s all ease-out;
      transform: rotate(-30deg);
      opacity: 0.2;
      z-index: 9999;
    }

    &:hover {
      // overflow: visible;
      --border-size: 3px;
      --border-angle: 0turn;
      background-image: conic-gradient(
          from var(--border-angle),
          #213,
          #112 50%,
          #213
          ),
          conic-gradient(from var(--border-angle), transparent 20%, rgb(255, 0, 221), #f03);
      background-size: calc(100% - (var(--border-size) * 2))
          calc(100% - (var(--border-size) * 2)),
          cover;
      background-position: center center;
      background-repeat: no-repeat;

      animation: bg-spin 3s linear infinite;
      @keyframes bg-spin {
          to {
          --border-angle: 1turn;
          }
      }

      .pPIimage {
        transform: rotate(0deg);
        // right: 25%;
        // bottom: 0%;
        opacity: 0.7;
      }

      .pPIvisdesc {
        opacity: 0.8;
      }

      .pPIhidden {
        opacity: 1;
      }
    }
  }
  }

.projPrevItemContainer {
  height: 300px;
  aspect-ratio: 1.0;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: transparent;
  // overflow: hidden;


  .projPrevItem {
    height: 90%;
    aspect-ratio: 1.0;
    position: relative;
    background-color: rgba(30, 29, 29, 1);
    font-family: 'Open Sans';
    padding: 10px 20px;
    overflow: hidden;

    .pPIvistitle {
      font-size: 1.2em;
    }

    .pPIvisdesc {
      font-size: 1em;
      opacity: 0.4;
    }

    .pPIhidden {
      opacity: 0;
      transition: 0.8s all ease-out;

      p {
        margin: 20px 0px;
      }
    }

    .pPIimage {
      position: absolute;
      width: 50%;
      bottom: 0%;
      right: 0px;
      transition: 0.5s all ease-out;
      transform: rotate(-30deg);
      opacity: 0.2;
      z-index: 9999;
    }

    &:hover {
      overflow: visible;
      .pPIimage {
        transform: rotate(0deg);
        right: 25%;
        bottom: 0%;
        opacity: 0.7;
      }

      .pPIvisdesc {
        opacity: 0.8;
      }

      .pPIhidden {
        opacity: 1;
      }
    }
  }
}

