@import "react-alice-carousel/lib/scss/alice-carousel.scss";

html {
  scroll-behavior: smooth;
}

body{
    background-color: #171616;
    font-family: 'Open Sans';
}

.cubeAnimatedAlpha {
  animation-delay: 2s;
      left: 20vw;
      top: 95vh;
      border-color: lighten(#AD37A9, 5%);
      background-color: lighten(#AD37A9, 5%);
}

.cubeAnimatedBeta {
  animation-delay: 4s;
  left: 35vw;
  top: 40vh;
  border-color: lighten(#C32988, 5%);
  background-color: lighten(#C32988, 5%);
  animation: cube 8s ease-in forwards infinite;
}

.cubeAnimatedGamma {
  animation-delay: 6s;
      left: 70vw;
      top: 120vh;
      border-color: lighten(#CC4799, 5%);
      background-color: lighten(#CC4799, 5%);
      animation: cube 10s ease-in forwards infinite;
}

.cubeAnimatedDelta {
  animation-delay: 4.5s;
      left: 70vw;
      top: 120vh;
      border-color: lighten(#68267d, 5%);
      background-color: lighten(#68267d, 5%);
      animation: cube 10s ease-in forwards infinite;
}


.cubeAnimatedLogo {
  animation-delay: 8s;
      width: 20px;
      height: 20px;
      left: 80vw;
      top: 45vh;
      border: solid 0px darken(#AD37A9, 8%);
      background: url('/assets/logo_ginevar_rotate.png');
      background-position: center;
      background-size: 100% auto;
      animation: cube 7s ease-in forwards infinite;
}

.cubeAnimated {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);   
      opacity: 0.7;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%); 
      opacity: 0;
    }
  }

.projPrevItemContainer {
  height: 300px;
  aspect-ratio: 1.0;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: transparent;
  // overflow: hidden;


  .projPrevItem {
    height: 90%;
    aspect-ratio: 1.0;
    position: relative;
    background-color: rgba(30, 29, 29, 0.635);
    font-family: 'Open Sans';
    padding: 10px 20px;
    overflow: hidden;

    .pPIvistitle {
      font-size: 26px;
    }

    .pPIvisdesc {
      font-size: 18px;
      opacity: 0.4;
    }

    .pPIhidden {
      opacity: 0;
      transition: 0.8s all ease-out;

      p {
        margin: 20px 0px;
      }
    }

    .pPIimage {
      position: absolute;
      width: 50%;
      bottom: -20%;
      right: 0px;
      transition: 0.5s all ease-out;
      transform: rotate(-30deg);
    }

    &:hover {
      overflow: visible;
      .pPIimage {
        transform: rotate(0deg);
        right: -20%;
        bottom: 0%;
        opacity: 0.4;
      }

      .pPIvisdesc {
        opacity: 0.8;
      }

      .pPIhidden {
        opacity: 1;
      }
    }
  }
}

