.gnvIntro {
    padding: 5% 10%;

    .gnvIntro-left {
        width: 60%;
        margin: 0px;
        font-family: 'Open Sans';
        font-weight: 300;
        color: #CC4799;
        text-align: left;
        margin-bottom: 2.5%;
        font-size: 3.5em;
    }

    .gnvIntro-right {
        width: 100%;
        padding-left: 40%;
        margin: 0px;
        font-family: 'Open Sans';
        font-weight: 300;
        text-align: right;
        color: #9E6FB6;
        margin-bottom: 2.5%;
        font-size: 3.5em;
    }

    .gnvIntro-center {
        width: 75%;
        padding-left: 25%;
        font-family: 'Open Sans';
        margin: 0px;
        font-size: 1em;
        text-align: center;
        color: #d1b7bc8e;
    }

    .gnvIntro-center-big {
        width: 100%;
        font-family: 'Open Sans';
        margin: 0px;
        text-align: justify;
        color: #D1B7BC;
        font-size: 1.2em;
    }

    .gnvIntro-gradient-text {
        font-weight: 600;
        background: -webkit-linear-gradient(#f50d0d, #ff14ef);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.gnvTitleBox {
    position: relative;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;


    &:hover {
        .gnvTBSquare {
            width: 120px;
            height: 120px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            transform: rotate(15deg);
            opacity: 1;
        }
    }
    
    .gnvTBSquare {
        background-color: #8d38b730;
        width: 150px;
        height: 150px;
        position: absolute;
        border-radius: 15%;
        transition: 0.4s all ease-out;
        opacity: 0.4;
        
    }

    h1 {
        position: relative;
        font-family: 'Open Sans';
        font-size: 2em;
        // line-height: 110px;
        
        height: 60px;
        margin: 0px;
        margin-top: 68px;
        padding-left: 50px;
        width: 100%;
        float: left;
        background: -webkit-linear-gradient(left, #d25ba4 , rgb(207, 14, 152));
        background: -o-linear-gradient(right, #d25ba4, rgb(207, 14, 152));
        background: -moz-linear-gradient(right, #d25ba4, rgb(207, 14, 152));
        background: linear-gradient(to right, #d25ba4 , rgb(207, 14, 152)); 
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    }

    .gnvTBline {
        position: absolute;
        float: left;
        height: 6px;
        width: 75%;
        border-radius: 20px;
        background: -webkit-linear-gradient(left , rgb(207, 14, 152), rgba(255, 0, 0, 0.529), rgba(255, 0, 0, 0));
        background: -o-linear-gradient(right, rgb(207, 14, 152), rgba(255, 0, 0, 0.529),  rgba(255, 0, 0, 0));
        background: -moz-linear-gradient(right, rgb(207, 14, 152), rgba(255, 0, 0, 0.529),  rgba(255, 0, 0, 0));
        background: linear-gradient(to right, rgb(207, 14, 152), rgba(255, 0, 0, 0.529),  rgba(255, 0, 0, 0)); 
        margin-top: 110px;
        margin-bottom: 50px;
        margin-left: 50px;
        
    }

    &::after {
        content: "";
        clear: both;
    }
}

.gnvTitleBoxRight {
    position: relative;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;


    &:hover {
        .gnvTBSquare {
            width: 120px;
            height: 120px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 20px;
            transform: rotate(-15deg);
            opacity: 1;
        }
    }
    
    .gnvTBSquare {
        background-color: #8d38b730;
        width: 150px;
        margin-left: calc(100% - 150px);
        height: 150px;
        position: absolute;
        border-radius: 15%;
        transition: 0.4s all ease-out;
        opacity: 0.4;
    }

    h1 {
        position: relative;
        font-family: 'Open Sans';
        font-size: 2em;
        // line-height: 110px;
        
        height: 60px;
        margin: 0px;
        margin-top: 68px;
        padding-right: 50px;
        width: 100%;
        text-align: right;
        
        float: left;
        background: -webkit-linear-gradient(left, red , rgb(207, 14, 152));
        background: -o-linear-gradient(right, red, rgb(207, 14, 152));
        background: -moz-linear-gradient(right, red, rgb(207, 14, 152));
        background: linear-gradient(to right, red , rgb(207, 14, 152)); 
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    }

    .gnvTBline {
        position: absolute;
        float: left;
        height: 6px;
        width: 75%;
        margin-left: calc(25% - 50px);
        border-radius: 20px;
        background: -webkit-linear-gradient(right , rgb(207, 14, 152), rgba(255, 0, 0, 0.529), rgba(255, 0, 0, 0));
        background: -o-linear-gradient(left, rgb(207, 14, 152), rgba(255, 0, 0, 0.529),  rgba(255, 0, 0, 0));
        background: -moz-linear-gradient(left, rgb(207, 14, 152), rgba(255, 0, 0, 0.529),  rgba(255, 0, 0, 0));
        background: linear-gradient(to left, rgb(207, 14, 152), rgba(255, 0, 0, 0.529),  rgba(255, 0, 0, 0)); 
        margin-top: 110px;
        margin-bottom: 50px;
        margin-right: 50px;
        
        
    }

    &::after {
        content: "";
        clear: both;
    }
}

.gnvTitleContainer {
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    // margin-bottom: 200px;

    .gnvTitleBoxDesc {
        margin-top: 100px;
        padding-left: 50px;
        font-size: 1.2em;
    }

    &::after {
        content: "";
        clear: both;
    }

}

.gnvDescBox {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    font-size: 1.2em;
    font-family: 'Open Sans';
    color: rgba(255, 255, 255, 0.588);
    text-align: justify;
}

.gnvDescBoxRight {
    width: 80%;
    margin-left: 20%;
    text-align: right;
}

.gnvDescBoxButtonParent {

    margin-right: calc(50% - 90px);
    margin-left: calc(50% - 90px);
}

.gnvDescBoxButton {
    position: relative;
    color: #AD37A9;
    border: 2px solid #AD37A9;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 20px;
    transition: 0.2s all ease-out;
    width: 180px;
    font-size: 1.2em;
    // margin-bottom: 40px;

    &:hover {
        cursor: pointer;
        background-color: #ad37a929;
    }
}

.gnvDescBoxButtonRight {
    margin-right: 0px;
    margin-left: calc(90% - 180px);
}

// .gnvPinkBG {
//         background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ff14ef4a,#f50d0d4f, rgba(255, 255, 255, 0));
// }

.gnvPinkBG {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #213,#213,#213, rgba(255, 255, 255, 0));
}

.gnvOpenPos {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 70px;
    padding: 0px 50px;
    position: relative;

    .gnvOP-nopos {
        text-align: center;
        color: #a39fa2;
        opacity: 0.7;
        font-size: 1.4em;
    }

    .gnvOP-random {
        text-align: justify;
        color: #C58FB0;
        font-size: 1.2em;
    }

    .gnvOpenPosLineLeft {
        position: absolute;
        width: 10px;
        height: 100%;
        background-color: blue;
        top: 0px;
        left: 10px;
        border-radius: 20px;
        background: -webkit-linear-gradient(#ff18f099,#f50d0d4f, rgba(255, 255, 255, 0));
    }

    .gnvOpenPosLineRight {
        position: absolute;
        width: 10px;
        height: 100%;
        background-color: blue;
        top: 0px;
        right: 10px;
        border-radius: 20px;
        background: -webkit-linear-gradient(#ff18f099,#f50d0d4f, rgba(255, 255, 255, 0));
    }
}

.gnvWWDBoxContainer {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    display: block;
    height: 35vw;

    .gnvWWDBox {
        background-color: #1e1d1d4d;
        outline: 1px solid #ffffff16;
        
        width: 17.2vw;
        height: 17.2vw;
        position: relative;
        float: left;
        transition: 0.5s all ease-out;


        .gnvWWDBFloatingTitle {
            position: absolute;
            text-transform: uppercase;
            bottom: 10px;
            left: 10px;
            
            // background-color: yellow;
            width: calc(100% - 10px);
            
            font-weight: 600;
            font-family: 'Open Sans';
            opacity: 0.1;
            transition: 0.5s all ease-out;
            text-align: left;
            font-size: 1em;
        }


        &:hover {
            outline: 1px solid #ffffffdf;
            --border-size: 3px;
            --border-angle: 0turn;
            background-image: conic-gradient(
                from var(--border-angle),
                #213,
                #112 50%,
                #213
                ),
                conic-gradient(from var(--border-angle), transparent 20%, rgb(255, 0, 221), #f03);
            background-size: calc(100% - (var(--border-size) * 2))
                calc(100% - (var(--border-size) * 2)),
                cover;
            background-position: center center;
            background-repeat: no-repeat;

            animation: bg-spin 3s linear infinite;
            @keyframes bg-spin {
                to {
                --border-angle: 1turn;
                }
            }

            .gnvWWDBFloatingTitle {
                opacity: 1;
                bottom: calc(100% - 50px);
            }
        }
    }

    &::after {
        content: "";
        clear: both;
    }
}

.gnvPPWCarouselContainer {
    width: 70%;
    margin-left: 15%;
    height: 300px;
    margin-top: 40px;
    position: relative;

    .gnvPPWCarouselLink {
        position: absolute;
        bottom: -70px;
        font-weight: 500;
        left: calc(90% + 30px);
        width: 120px;
        text-align: right;
        transition: 0.2s all ease-out;
        font-size: 1em;
        color: white;

        &:hover {
            color: #9E6FB6;
        }
    }
}

.gnvPPWMethodBox {
    width: 70%;
    margin-top: 40px;
    margin-left: 15%;
    font-size: 1.2em;
    
    a {
        color: white;
    }

    &:hover {
        u {
            color: pink;
        }
    }
}

.popupImageContainer {
    padding-right: 200px;
}

@media screen and (max-width: 840px) {
    .popupImageContainer {
        padding-right: 0px;
    }
    .gnvIntro {
        .gnvIntro-left, .gnvIntro-right {
            text-align: center;
            padding-left: 0%;
            width: 100%;
            margin-bottom: 10%;
        }

        .gnvIntro-center {
            padding: 10%;
            width: 100%;
            font-size: 1.2em;
        }
    }

    .gnvTitleBox {
        h1 {
            width: 100%;
            font-family: 'Open Sans';
        }

        .gnvTBline {
            position: absolute;
            margin-top: 120px;
            margin-left: 50px;
        }
    }

    .gnvTitleBoxRight {
        h1 {
            padding-right: 50px;
            width: 100%;
            text-align: right;
        }

        .gnvTBline {
            position: absolute;
            margin-top: 120px;
            margin-left: 50px;
        }
    }

    .gnvDescBoxRight {
        margin-left: 0%;
        width: 100%;
        text-align: center;
    }

    .gnvWWDBoxContainer {
        height: 140vw;

        .gnvWWDBox {
            width: 35vw;
            height: 35vw;
        }
    }

    .gnvPPWCarouselContainer {
        .gnvPPWCarouselLink {
            left: 0%;
            bottom: -30px;
        }
    }
    
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  