
.navbar-custom {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: none;
}

.nextui-navbar-container {
    background-color: #171616 !important;
}

.navbar-custom-toggle {
    display: none;
}

.navbarItemsLinks {
    transition: 0.2s all ease-out;
    &:hover {
        color: #ff18f099;
    }
}

@media screen and (max-width: 840px) {
    .navbar-custom-toggle {
        display: block;
    }
}